.idea
.vscode/
.DS_Store
src/.DS_Store
# common
.env
external/OCRHelper/bin/ocr-helper
# forge
.gas-snapshot
broadcast/
cache/
# forge artifacts
out/*
!out/ChainlinkCronConsumer.sol
!out/ChainlinkDirectRequestConsumer.sol
!out/ChainlinkKeeperConsumer.sol
!out/FluxAggregator.sol
!out/LinkToken.sol
!out/KeeperRegistry1_3.sol
!out/KeeperRegistryLogic1_3.sol
!out/OffchainAggregator.sol
!out/Oracle.sol
# chainlink
chainlink/foundry-chainlink-node*/
