.idea
.vscode/
.DS_Store
src/.DS_Store
# common
.env
external/OCRHelper/bin/ocr-helper
# forge
.gas-snapshot
broadcast/
cache/
# forge artifacts
out/*
# Test
!out/AutomationForwarderLogic.sol
!out/BlockhashStore.sol
!out/CronLibrary.sol
!out/MockV3Aggregator.sol
!out/UpkeepMock.sol
!out/UpkeepTranscoder.sol
# Sandbox
!out/ChainlinkCronConsumer.sol
!out/ChainlinkDirectRequestConsumer.sol
!out/ChainlinkKeeperConsumer.sol
!out/FluxAggregator.sol
!out/OffchainAggregator.sol
!out/Oracle.sol
!out/Operator.sol
!out/LinkToken.sol
# Functions
!out/FunctionsRouter.sol
# Automation
!out/CronUpkeep.sol
!out/CronUpkeepFactory.sol
!out/KeeperRegistrar1_2.sol
!out/KeeperRegistrar2_0.sol
!out/AutomationRegistrar2_1.sol
!out/KeeperRegistry1_2.sol
!out/KeeperRegistry1_3.sol
!out/KeeperRegistry2_0.sol
!out/KeeperRegistry2_1.sol
!out/KeeperRegistryBase1_3.sol
!out/KeeperRegistryBase2_0.sol
!out/KeeperRegistryBase2_1.sol
!out/KeeperRegistryLogic1_3.sol
!out/KeeperRegistryLogic2_0.sol
!out/KeeperRegistryLogicA2_1.sol
!out/KeeperRegistryLogicB2_1.sol
# VRF
!out/VRFCoordinatorV2.sol
# chainlink
src/sandbox/clroot/foundry-chainlink-node*/
