[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/chainlink-testing-framework"]
	path = lib/chainlink-testing-framework
	url = https://github.com/smartcontractkit/chainlink-testing-framework
