# Postgres Properties
POSTGRES_USER=chainlink
POSTGRES_PASSWORD=password123456789
PG_MAX_CONNECTIONS=500
# Deploy Properties
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
RPC_URL=http://localhost:8545
CHAINLINK_CONTAINER_NAME=foundry-chainlink-node
# e.g. 0_6_x, empty value is equivalent to default profile
FOUNDRY_PROFILE=
# Chainlink Common Properties
ROOT=/chainlink
ETH_CHAIN_ID=1337
ETH_URL=ws://host.docker.internal:8545
ETH_HTTP_URL=http://host.docker.internal:8545
CHAINLINK_TLS_PORT=0
LOG_LEVEL=debug
SECURE_COOKIES=false
ALLOW_ORIGINS=*
# Contracts Addresses
LINK_CONTRACT_ADDRESS=
ORACLE_ADDRESS=
CONSUMER_ADDRESS=
CRON_CONSUMER_ADDRESS=
REGISTRY_ADDRESS=
KEEPER_CONSUMER_ADDRESS=
OFFCHAIN_AGGREGATOR_ADDRESS=
FLUX_AGGREGATOR_ADDRESS=
