# Chainlink Node Properties
ROOT=/chainlink
LOG_LEVEL=debug
CHAINLINK_TLS_PORT=0
SECURE_COOKIES=false
ETH_URL=ws://host.docker.internal:8545
ETH_CHAIN_ID=31337
ALLOW_ORIGINS=*
# Postgres Credentials
POSTGRES_USER=db_user
POSTGRES_PASSWORD=password123456789
POSTGRES_DB=chainlink
