# Chainlink Node Properties
ROOT=/chainlink
ETH_CHAIN_ID=31337
ETH_URL=ws://host.docker.internal:8545
CHAINLINK_CONTAINER_NAME=foundry-chainlink-node
CHAINLINK_TLS_PORT=0
LOG_LEVEL=debug
SECURE_COOKIES=false
ALLOW_ORIGINS=*

# Postgres Credentials
POSTGRES_USER=chainlink
POSTGRES_PASSWORD=password123456789
POSTGRES_DB=chainlink

# Deploy
PRIVATE_KEY=
RPC_URL=http://localhost:8545
